[package]
name = "logger"
version = "0.1.0"
edition = "2024"

[dependencies]
hyper = { version = "1.8.1", features = ["http1"] }
tower = "0.5.2"
tracing = "0.1.44"
tracing-futures = "0.2.5"
tracing-subscriber = "0.3.22"
